<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>I NEED A TITLE!</title>
    {% endif %}
  </head>
  <body>
    <div>
        <a href="{{ url_for('index') }}">Home</a>
        {% if user.is_authenticated() %}
        | <a href="{{ url_for('test') }}">Comments</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        | <a href="{{ url_for('login') }}">Login</a>
        | <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
